* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: #111;
  align-content: start;
}

.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 5vh;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 1rem;
  list-style: none;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

footer {
  text-align: center;
  height: 5vh;
}
