.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list0fProjects {
  display: flex;
  justify-content: end;
  gap: 1rem;
  list-style: none;
}

.list0fProjects a {
  text-decoration: none;
  color: white;
}
